// Button Partials
@import "colors";

/*=======================================================
			Buttons Style
========================================================*/

.btn-primary {
    background: $primary-color;
    color: $primary-color-text;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: $primary-color-dark;
}

.btn-primary-dark {
    background: $primary-color-dark;
    color: $primary-color-text;
}

.btn-primary-dark:hover,
.btn-primary-dark:focus,
.btn-primary-dark:active {
    background: $primary-color;
    color: $primary-color-text;
}

.btn-white {
    background: $primary-color-text;
    color: $primary-text-color;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active {
    background: $divider-color;
    color: $primary-text-color;
}

.btn-secondary {
    background: $accent-color;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background: $primary-color-dark;
}