// Colors Used In The Template

$primary-color-dark:   #0097A7;
$primary-color:        #546DFE;
$primary-color-light:  #B2EBF2;
$primary-color-text:   #FFFFFF;
$accent-color:         #F3432C;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
$secondary-background: #f9f9f9;