/*=======================================================
            Media Queries 
========================================================*/

@media (max-width: 992px) {
    // Banner
    #hero,
    #parallax,
    #particles-bg {
        h1 {
            font-size: 4rem;
        }
        h3 {
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 800px) {
    // Banner
    #parallax,
    #particles-bg {
        h1 {
            font-size: 3rem;
        }
        h3 {
            font-size: 2rem;
        }
        .hero-caption {
            .hero-text {
                .btn-primary,
                .btn-secondary {
                    margin-right: 0;
                }
            }
        }
    }
    #hero {
        .slides {
            li {
                .caption {
                    left: 15%;
                    .btn-primary,
                    .btn-secondary {
                        margin-right: 0;
                    }
                }
            }
        }
        .caption {
            text-align: center;
            h1 {
                font-size: 3rem;
            }
            h3 {
                font-size: 2rem;
            }
        }
        .slider.fullscreen ul.indicators {
            display: none;
        }
    }
    // Sections Heading Fix
    section {
        h2 {
            font-size: 3rem;
        }
    }
    // Skills & Testimonials Height Fix
    #skills {
        .row {
            .col {
                .testimonials,
                skills {
                    height: auto;
                }
            }
        }
    }
}